.main1{
    min-height: 600px;
    background-color: #F2F7F7; 
}
.top-padding{
    padding-top: 25px;
}
.margin{
    margin-bottom: 20px;
}
.card{
    text-align: center;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
    min-height: 240px;
}
.card:hover{
    box-shadow: none;
}
.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
 }
 p{
    font-size: 0.75rem;
 }
 .card-title {
     font-size: 1rem;
 }
 @media screen and (min-width: 600px) {
    .search-bar{
        margin-left: 30px;
    }
  }